@import '../../../design/index.scss';


.uploadArea{
    width:80%;
    min-width: 300px;
    height:200px;
    border:2px dashed $light-blue;
    border-radius:10px;
    color:$light-blue;
    background-color: lighten($light-blue, 10px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    font-size: 12px;
    cursor: pointer;
   .thumbImage{
     width: 100%;
     height: 200px;
   }
  }