@import '../../../design/index.scss';


.section-margin{
    margin-top:300px;
    @media(max-width:900px){
        margin-top: 200px;
    }
    .custom-tab{
        width: 65%;
        margin: auto;
        display: flex;
        @media(max-width: 760px){
            width: 100%;
        }
        @media(max-width: 420px){
            width: 100%;
        }
        a{
            width: 50%;
            text-align: center;
            padding:2rem 0;
            border-bottom:2px solid $light-blue;
            @extend %font-content;
            color: $dark-blue;
            font-size: 1.8rem;
            font-weight: 900;
            &:last-child{
                border-right: 2px solid $light-blue;
            }
          @media(max-width: 991px){
              font-size: 1.4rem;
          }
          @media(max-width: 420px){
            font-size: 1rem;
        }
        }
       
    }
    .tab-content{
        border-bottom:1px solid $light-blue;
        padding:2rem 0.5rem;
        width: 65% !important;
        text-align: right;
        margin:0 auto !important;
    }
}


