@import '../../../design/index.scss';

._modal {
    font-family: "Samim";
    min-width: 100%;
    height: 100vh;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 !important;
    position: fixed;
    background: hsla(0, 0%, 100%, 0.97);
    z-index: 15;
    .section-margin {
      margin-top: 8rem;
    }
  
    .close-button {
      z-index: 2;
      position: relative;
      text-align: center;
      background: $light-blue;
      font-size: 20px;
      color: $dark-blue;
      padding: 6px;
      pointer-events: all;
      cursor: pointer;
      -webkit-transition: all 0.3s;
      transition: all 0.3s;
      border-radius: 100%;
      height: 44px;
      width: 44px;
      font-family: "Samim";
      transition: all .3s linear;
     span {
        position: absolute;
        font-family: "Samim";
        color: $dark-blue;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
     
      }
  
      &:hover{
        background-color: $yellow;
      }
      &:hover > span {
        color: white;
      }
    }
  }
  