@import '../../../../design/index.scss';

.section-margin {
    padding: $section-padding-lg;
    background: url(https://c.bonfireassets.com/images/cloud.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    @media(max-width:768px){
      background-position:50% 40px;
      
    }
    @media(max-width:991px){
      padding:2rem 0;
    }
    .title {
      @extend %font-heading;
      color: $dark-blue;
   
    }
    .home-support__col {
      padding: 40px 50px;
    }
    .support-img{
      height: 150px;
  
      svg {
        max-width: 100%;
        max-height: 100%;
        width: 100%;
      }
    }
    .support-title{
      color: $dark-blue;
      font-size: 1.4rem;
      font-weight: 700;
      @media(max-width:768px){
        font-size: 1rem;
        
      }
    }
    .support-text {
      @extend %font-content;
      color: $dark-blue;
      max-width: 90%;
      margin-right: auto;
      margin-left: auto;
      -webkit-box-flex: 1;
      -ms-flex-positive: 1;
      flex-grow: 1;
    }
  
  }