@import '../../../../design/index.scss';

.count-up {
    width: 100%;  
    text-align: center;
    padding: 3rem 0;
    color: white;
    font-weight: 700;
   color: white;
background-color: $dark-blue;

  
    div {
      line-height: 1em;
      text-align: center;
  
      display: inline-block;
      font-size: 30px;
      text-align: center;
    }
  }