@import '../../../../design/index.scss';

.count-up {
    width: 100%;
    background-color: $dark-blue;
    text-align: center;
    padding: 4rem 0;
    color: white;
    font-weight: 900;
    position: relative;

  
    div {
      line-height: 1.4em;
      text-align: center;
      color: $yellow;
      display: inline-block;
      font-size: 50px;
      text-align: center;
    }
  }