@import '../../../../design/index.scss';

.mobile-header {
    border-bottom: 1px solid $light-gray;
    padding: 0.5rem 1rem;
    position: fixed;
    z-index: 15;
    background-color: #fff;
    width: 100%;
  }
  .hamburger-btn {
    display: inline-grid;
    cursor: pointer;
  
    span {
      height: 4px;
      width: 40px;
      background-color: $dark-blue;
      margin: 3px 0;
      border-radius: 2px;
    }
  }
  .hamburger-menu {
    position: fixed;
    width: 100%;
    height: 100%;
    background: $light-blue;
    z-index: 999;
 
    ul {
      padding-top: 6rem;
      display: flex;
      flex-direction: column;
      width: 100%;
      align-items: center;
      height: 100%;
      li {
        padding: 1.5rem 0;
        text-align: center;
        width: 100%;
        font-weight: 900;
        font-size: 1rem;
      
        a{
          color: $dark-blue;
        }
        .isActive{
           opacity: 0.8;
       
        }
       
      }
    }
  }