@import '../../../../design/index.scss';

.social-icon-two li {
    display: inline-block;
    a {
      display: block;
      transition: all 300ms ease;
    }
  }
  
  .main-footer {
    background-color: $dark-blue;
  }
  
.widget-title {
    font-size: 1.5rem;
    color: #ffffff;
  }
  .widget-content {
    font-size: 1rem;
    li {
      padding: 0.5rem;
    }
    li a {
      color: white;
    }
  }

 .logo {
    width: 20%;
    cursor: pointer;
    transition: all 300ms ease;
    z-index: 9999;
  }
  
  .text {
    color: #c8bfe3;
    font-size: 16px;
    line-height: 30px;
  }
  
  .footer-bottom {
   text-align: center;
    border-top: 1px solid rgba(255, 255, 255, 0.15);
  }
  
  .copyright {
    color: #c8bfe3;
    font-weight: 400;
    font-size: 16px;
  }

  @media only screen and (max-width: 767px) {
    .main-footer .footer-upper {
      padding: 70px 0 30px;
    }
    .main-footer .footer-bottom {
      padding-bottom: 70px;
    }
    .main-footer .footer-bottom .copyright,
    .main-footer .footer-bottom .social-icon-two {
      width: 100%;
    }
  }