@import '../../../../design/index.scss';


.sec-dream {
    padding: $section-padding-lg;
    background-color: #f2f5f6;
  }
  .sec-title h2 {
    @extend %font-heading;
    color: $dark-blue;
  }
.sliderBtn{
  svg{
    cursor: pointer;
  }
}