@import '../../../../design/index.scss';


.sec-dream {
    padding: $section-padding-lg;
  }
  .sec-title h2 {
    @extend %font-heading;
    color: $dark-blue;
  }
.sliderBtn{
  svg{
    cursor: pointer;
  }
}
.more{
  font-size: 1.1rem;
  color:$dark-blue;
  font-weight: 700;
  transition: color .1s linear;
  &:hover{
    color:lighten($dark-blue, 20px);
  }
}