@import '../../../../design/index.scss';

.hero-title {
    margin-top: 4rem;
    @extend %font-heading;
    color: $dark-blue;
    @media (max-width: 920px) {
      margin-top: 10rem;
    }
  }
  .clouds {
    position: absolute;
    width: 100%;
    height: 120px;
    left: 0px;
    top: 400px;
    @media (max-width: 920px) {
      top: 300px;
    }
  }
  #clouds1 {
    margin-top: -14px;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
    background-image: url('https://www.typingclub.com/m/tpmedia/img/clouds1.png');
  }
  #clouds2 {
    margin-top: 20px;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
    background-image: url('https://www.typingclub.com/m/tpmedia/img/clouds2.png');
    border-bottom: 10px solid white;
    top: 400px;
    @media (max-width: 920px) {
      top: 300px;
    }
 
  }