@import '../../../../design/index.scss';

.header {
    display: flex;
    justify-content: space-between;
    width: 80%;
    font-weight: 900;
    cursor: pointer;
    ul{
        li{
            a{
                color: #696478;
            }
        }
    }
  }
  .scrolled {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    background: white;
    cursor: pointer;
    position: fixed;
    width: 100%;
    border-bottom: 1px solid $light-gray;
    left: 0;
    top: 0;
    right: 0;
    z-index: 12;
    padding: 2rem;
    li {
      padding: 0 1rem;
    }
    .minimize-icon {
      position: absolute;
      top: 50%;
      right: 25px;
      transform: translate(-25px, -50%);
    }
  }