@import '../../../../design/index.scss';

.banner-section {
    #clouds1 {
      margin-top: -14px;
      background-image: url('https://www.typingclub.com/m/tpmedia/img/clouds1.png');
    }
    #clouds2 {
      margin-top: 20px;
      animation:movingleft 100s linear;
      animation-iteration-count: infinite;
      background-image: url('https://www.typingclub.com/m/tpmedia/img/clouds2.png');
      border-bottom: 10px solid white;
      top: 600px;
      @media (max-width: 920px) {
        top: 500px;
      }
    }
    #clouds3 {
      margin-top: -30px;
      background-position-x: -140px;
      top: 600px;
      animation:movingright 100s linear;
      animation-iteration-count: infinite;
      background-image: url('https://www.typingclub.com/m/tpmedia/img/clouds3.png');
      @media (max-width: 920px) {
        top: 500px;
      }
    }
    @keyframes movingright {
      0%   {background-position-x: 2086.75px;}
      1%  {background-position-x: 2087.75px;}
      2%  {background-position-x: 2088.75px;}
      3% {background-position-x: 2089.75px;}
    }
    @keyframes movingleft {
      0%   {background-position-x: -4173.5px;}
      1%  {background-position-x: -4174.5px;}
      2%  {background-position-x: -4175.5px;}
      3% {background-position-x:-4176.5px;}
    }
    .clouds {
      position: absolute;
      width: 100%;
      height: 120px;
      left: 0px;
      top: 600px;
      @media (max-width:920px) {
        top: 500px;
      }
    }
    margin-top: 5rem;
    span,
    h2 {
      text-align: center;
      color: $header-color;
    }
    .banner-title {
      @media (max-width: 920px) {
        margin-top: 9rem;
      }
      span {
        font-size: 30px;
        font-weight: 400;
      }
      h2 {
        @extend %font-heading;
      }
    }
  }

