@import '../../../../design/index.scss';

.section-margin {
 margin-top: 100px;
    margin-bottom: 1rem;
  
    @media (max-width: 768px) {
      margin-top: 50px;
    }
    .about-timeline-title {
      @extend %font-heading;
      text-align: center;
      color: $dark-blue;
      position: relative;
     
    }
    ol {
      list-style: none;
      margin: 0;
      padding: 0;
  
      .how-it-works-step:nth-child(2n) {
        flex-direction: row-reverse;
      }
  
      .how-it-works-step {
        display: flex;
        text-align: right;
        flex-direction: row;
        position: relative;
        @media (max-width: 500px) {
          text-align: center;
          flex-wrap: wrap;
          justify-content: center;
          align-items: center;
          padding: 1rem 0;
        }
  
        &::after {
          position: absolute;
          content: '';
          width: 30px;
          height: 30px;
          background-color: #00bfc2;
          border-radius: 50%;
          left: 50%;
          top: 0;
          transform: translate(-50%, -50%);
          @media (max-width: 500px) {
            display: none;
          }
        }
        .how-it-works-step-content {
          width: 50%;
          @media (max-width: 500px) {
            width: 100%;
          }
          span {
            color: $dark-blue;
            font-weight: 700;
            text-align: right;
            font-size: 1.6rem;
            @media (max-width: 768px) {
              font-size: 1.3rem;
            }
            @media (max-width: 500px) {
              padding: 1rem 0;
            }
          }
          p {
            @extend %font-content;
            color: $dark-gray;
            margin: 0;
            padding-top: 0.7rem;
            font-weight: 500;
          }
        }
  
        .how-it-works-step-graphic {
          width: 50%;
          @media (max-width: 500px) {
            width: 100%;
            margin: auto;
            svg {
              width: 100px;
              height: 100px;
              margin: auto;
            }
          }
        }
        &:nth-child(odd) {
          .how-it-works-step-graphic {
            padding-left: 5.875rem;
            @media (max-width: 768px) {
              padding-left: 1rem;
            }
            @media (max-width: 500px) {
              padding-left: 0;
              margin: auto;
            }
          }
          .how-it-works-step-content {
            padding-right: 5.875rem;
            @media (max-width: 768px) {
              padding-right: 1rem;
            }
            @media (max-width: 500px) {
              padding-right: 0;
              margin: auto;
            }
          }
        }
  
        &:nth-child(2n) {
          .how-it-works-step-content {
            padding-left: 5.875rem;
            @media (max-width: 768px) {
              padding-left: 1rem;
            }
            @media (max-width: 500px) {
              padding-left: 0;
            }
          }
          .how-it-works-step-graphic {
            padding-right: 5.875rem;
            padding-bottom: 4rem;
            @media (max-width: 768px) {
              padding-right: 1rem;
            }
            @media (max-width: 500px) {
              padding: 1rem 0;
            }
          }
        }
      }
    }
  }
  
  .how-it-works-step:nth-child(odd):not(:last-child) .how-it-works-step-graphic {
    border-left: 1px solid #00bfc2;
    @media (max-width: 500px) {
      border: none;
    }
  }
  .how-it-works-step:nth-child(odd):not(:last-child) .how-it-works-step-content {
    border-right: 1px solid #00bfc2;
    @media (max-width: 500px) {
      border: none;
    }
  }
  .how-it-works-step:nth-child(2n):not(:last-child) .how-it-works-step-graphic {
    border-right: 1px solid #00bfc2;
    @media (max-width: 500px) {
      border: none;
    }
  }
  .how-it-works-step:nth-child(2n):not(:last-child) .how-it-works-step-content {
    border-left: 1px solid #00bfc2;
    @media (max-width: 500px) {
      border: none;
    }
  }