@import "../../../design/index.scss";

.Notfound {
    background: $light-blue;
    color: #fff;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;

.error {
    text-align: center;
    display: block;
    position: relative;
    width: 80%;
    margin: 100px auto;
}
._404 {
    color: $dark-blue;
    font-family: "samim";
    font-size: 150px;
    position: relative;
    z-index: 2;
}

.text {
    font-size: 25px;
    font-weight: 900;
    text-align: center;
    position: relative;
    color: $dark-blue;
    font-family: "samim";
}

.right {
    float: right;
    width: 60%;
}

.cloud {
    width: 350px;
    height: 120px;

    background: #fff;
    background: linear-gradient(to top, #fff 100%);
   

    border-radius: 100px;

    position: absolute;
    margin: 120px auto 20px;
    z-index: -1;
    transition: ease 1s;
}

.cloud:after,
.cloud:before {
    content: "";
    position: absolute;
    background: #fff;
    z-index: -1;
}

.cloud:after {
    width: 100px;
    height: 100px;
    top: -50px;
    left: 50px;

    border-radius: 100px;
}

.cloud:before {
    width: 180px;
    height: 180px;
    top: -90px;
    right: 50px;

    border-radius: 200px;
}

.cloud_1 {
    top: -50px;
    left: 100px;

    transform: scale(0.3);
    opacity: 0.9;
    animation: moveclouds 35s linear infinite;
}

.cloud_2 {
    top: -80px;
    left: 250px;

    transform: scale(0.3);
    animation: moveclouds 45s linear infinite;
}

.cloud_3 {
    left: 250px;
    top: 30px;

    transform: scale(0.6);
    opacity: 0.6;
    animation: moveclouds 55s linear infinite;
}

.cloud_4 {
    left: 250px;
    bottom: -70px;
    transform: scale(0.6);
    opacity: 0.8;

    animation: moveclouds 65s linear infinite;
}

.cloud_5 {
    left: 470px;
    bottom: 20px;

    transform: scale(0.75);
    opacity: 0.75;

    animation: moveclouds 79s linear infinite;
}

.cloud_6 {
    left: 200px;
    top: 200px;
    transform: scale(0.5);
    opacity: 0.8;
    animation: moveclouds 80s linear infinite;
}

@keyframes moveclouds {
    0% {
        margin-left: 1000px;
    }
    100% {
        margin-left: -1000px;
    }
}

}
