@import "../../../../design/index.scss";

.title {
    @extend %font-heading;
    color: $dark-blue;
    text-align: center;
}

.goles-circulate {
    background-image: url("../../../../assets/img/circle-bg.jpg");
    background-size: 750px;
    background-repeat: no-repeat;
    min-height: 500px;
    background-position: center center;
    @media only screen and (max-width: 992px) {
        background-position: center -130px;
    }
    @media only screen and (max-width: 785px) {
        background-position: center -83px;
    }
    .first-goal {
        max-width: 350px;
        margin-left: auto;
        margin-right: auto;
        @extend %font-content;
        line-height: 2rem;
        h4 {
            color: $dark-gray;
        }
    }
    .second-goal {
        max-width: 350px;
        margin-left: auto;
        margin-right: auto;
        @extend %font-content;
        line-height: 2rem;
       
        @media only screen and (mim-width: 992px) {
            margin-left: 3rem;
        }

        h4 {
            color: $dark-gray;
        }
    }
    .third-goal {
        max-width: 350px;
        margin-left: auto;
        margin-right: auto;
        @extend %font-content;
        line-height: 2rem;
        
        @media only screen and (mim-width: 992px) {
            margin-right: 3rem;
        }

        h4 {
            color: $dark-gray;
        }
    }
    img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
    }
    p {
        padding: 0 2rem;
    }
}
