@import "../../../design/index.scss";

.dream-block {
  margin-bottom: 30px;
  max-width: 380px;
  min-width: 311px;
  border-radius: 10px;
  width: 100%;
  overflow: hidden;
  box-shadow: 3px 3px 20px rgb(240, 221, 225);

  transition: all 0.3s linear;
  cursor: pointer;
  &:hover {
    transform: rotate(-2deg) translateZ(0);
  }
  blockquote {
    color: $dark-blue;
    font-size: 16px;
    font-weight: 900;
    overflow: hidden;
    min-height: 70px;
    transition: all 300ms ease;
    offset-rotate: auto;
  }
  .qoute-svg {
    width: 30px;
    height: 30px;
    fill: $light-blue;
  }
  .lower-content {
    background: $light-blue;
    // background: linear-gradient(140deg, rgba(159,217,246,1) 0%, rgba(179,221,242,1) 67%);
    .avatar {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      overflow: hidden;
      border: 3px solid white;
      @media(max-width:400px){
        width: 40px;
        height: 40px;
      }
      img {
        object-fit: cover;
        max-width: 100%;
        min-height: 100%;
      }
    }
    h4 {
      a {
        display: block;
        font-size: 14px;
        line-height: 2.4em;
        color: white;
        font-weight: 700;
        text-align: right;
        @media(max-width:400px){
          font-size: 12px;
        }
      }
    }
  }
}
