@import ".././../../design/index.scss";

.profile {
    position: relative;
    text-align: right;
   
    .account {
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #696478;
        font-weight: 900;
        &:hover {
            color: darken($yellow, 20px);
        }
    }
    .drop {
        position: absolute;
        left: 50%;
        border-radius: 10px;
        top: 18px;
        padding-left: 1.3rem;
        padding-right: 1.3rem;
        transform: translate(-50%, 18px);
        border:3px solid whitesmoke;
        cursor: pointer;
        background-color: white;
        font-weight: 400;
        color: $dark-gray;
        font-size: 13px;
       
        li {
            &:first-child {
                font-weight: 600;
            }
            &:hover {
                color: $yellow;
            }
            &:nth-child(2){
                &:hover{
                    color:$dark-gray;
                }
            }
        }
    }
}
