@import '../../../../design/index.scss';


.org-sec{
    p{
        @extend %font-content;
        font-size: 1rem;
        color:$dark-gray;
        border-bottom: 1px solid $light-blue;
        @media (max-width:700px){
            font-size: 0.8rem;
         }
    }
   span{
    @extend %font-content;
    font-size: 0.8rem;
    color:$dark-gray;
    
   }
   .rightForm{
       width: 50%;
       @media (max-width:1000px){
          width: 70%;
          margin-left:auto ;
          margin-right: auto;
       }.uploadArea{
        width:300px;
        height:200px;
        border:2px dashed $light-blue;
        border-radius:10px;
        color:$light-blue;
        background-color: lighten($light-blue, 10px);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-weight: 900;
        font-size: 12px;
        cursor: pointer;
      }
       @media (max-width:700px){
        width: 100%;
        margin-left:auto ;
        margin-right: auto;
     }
   }
}


.input-area{
    width: 100%;
}
.text-area{
    width: 100%;
}